.intro {
  background: var(--color-backdrop-subtle) url("./background.jpg") no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  color: var(--color-bright);
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 10rem 2rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.introText {
  margin: auto;
  max-width: 70rem;
  position: relative;
}
