.labeledIcon {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon {
  user-select: none;
}

.label {
  color: var(--color-primary);
  font-weight: bold;
  text-align: center;
}
