.labeledIcon {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon {
  /* todo: switch this to SVGs */
  user-select: none;
}

.label {
  color: var(--color-primary);
  font-weight: bold;
  text-align: center;
}

@media (max-width: 700px) {
  .labeledIcons {
    display: flex;
    gap: 4rem;
    flex-direction: column;
  }
}
