.labeledIcon {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon {
  background: var(--color-primary);
  border-radius: 100%;
  user-select: none;
}

.label {
  color: var(--color-primary);
  font-size: var(--font-size-medium);
  font-weight: bold;
  text-align: center;
}

@media (max-width: 700px) {
  .labeledIcons {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}
