.roundLink {
  background: var(--color-bright);
  border-radius: 9999px;
  color: var(--color-dark);
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--transition-medium) background-color;
}

.roundLink.sizeSmall {
  font-size: var(--font-size-small);
  padding: 0.5rem 1rem;
}

.roundLink.sizeMedium {
  font-size: var(--font-size-medium);
  padding: 0.75rem 1.75rem;
}

.roundLink:hover {
  background-color: var(--color-subtle);
}

.shadow {
  box-shadow: var(--box-shadow-dark);
}
