.sponsorshipDisclaimer {
  background-image: var(--background-outline-alt);
  background-position: left;
  background-size: cover;
}

.bodyArea {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
}

@media (width >= 1200px) {
  .bodyArea {
    padding: 2rem 0;
  }
}
