.eventInfo {
  background-image: var(--background-outline);
  background-position: center center;
  background-size: cover;
}

.contents {
  padding: 5rem 2rem;
}

.trailer {
  display: block;
  margin: 3rem auto 0;
  max-width: 95%;
}
