.eventInfo {
  background-image: var(--background-pattern);
  background-size: cover;
  background-position: center center;
  padding: 5rem 2rem;
}

.trailer {
  display: block;
  margin: 3rem auto 0;
}
