.eventInfo {
  background-image: var(--background-outline);
  background-position: center center;
  background-size: cover;
  margin-top: -110px;
  position: relative;
  z-index: 10;
}

.contents {
  padding: 55px 2rem 2rem;
}

@media (width < 900px) {
  .eventInfo {
    margin-top: 0;
  }

  .contents {
    padding: 2rem;
  }
}

.trailer {
  display: block;
  margin: 3rem auto 0;
  max-width: 95%;
}
