.eventsList {
  background: var(--color-primary);
  background-size: cover;
  padding: 1.5rem 1.5rem 2.5rem;
  margin-bottom: 1rem;
}

.eventCards {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin: auto;
  max-width: var(--width-body);
  padding: 1rem;
}

.heading {
  color: var(--color-bright);
  font-size: var(--font-size-large);
  margin: 0 auto 1.5rem;
  max-width: var(--width-body);
  padding: 0 1rem;
  text-align: center;
}

@media (width >= 700px) {
  .eventCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
  }

  .heading {
    margin-bottom: 2rem;
  }
}

@media (width >= 1200px) {
  .eventCards {
    grid-template-columns: repeat(3, 1fr);
    max-width: var(--width-body);
    margin: 0 auto;
    gap: 2.5rem;
  }
}

@media (width >= 1200px) {
  .eventsList {
    padding: 2rem 0 3rem;
  }
}
