.eventsList {
  background: var(--color-primary);
  background-size: cover;
  padding-bottom: 2rem;
}

.eventCards {
  display: flex;
  flex-direction: column;
  gap: 6em;
  margin: auto;
  max-width: var(--width-body);
  padding: 1rem;
}

@media (min-width: 700px) {
  .eventCards {
    padding: 5rem 0;
  }
}
