.eventsList {
  background: var(--color-primary);
  background-size: cover;
  padding: 2rem;
}

.eventCards {
  display: flex;
  flex-direction: column;
  gap: 6em;
  margin: auto;
  max-width: var(--width-body);
  padding: 1rem;
}

.update {
  background-color: #fff;
}

.updateParagraph {
  margin: 1rem;
}

@media (width >= 1200px) {
  .eventsList {
    padding: 2rem 0 4rem;
  }
}
