.eventsList {
  background: var(--color-primary);
  background-size: cover;
  padding: 2rem;
}

.eventCards {
  display: flex;
  flex-direction: column;
  gap: 6em;
  margin: auto;
  max-width: var(--width-body);
  padding: 1rem;
}

@media (min-width: 1200px) {
  .eventsList {
    padding: 2rem 0 2rem;
  }
}
