.videoWrapper {
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  box-sizing: border-box;
  max-width: 100vw;
  min-height: 333px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.videoIframe {
  border-radius: 12px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
