.card {
  background-color: var(--color-primary);
  border-radius: 12px;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: var(--transition-medium) transform,
    var(--transition-medium) box-shadow;

  --color-text: var(--color-bright);
}

.card:hover {
  box-shadow: 0 12px 24px rgb(0 0 0 / 15%);
  transform: translateY(-5px);
}

.cardContents {
  box-shadow: var(--box-shadow-dark);
  color: var(--color-bright);
  height: 100%;
  overflow: hidden;
  padding-bottom: 1rem;
  position: relative;
}

.bottom {
  background-color: var(--color-bright);
  border-radius: 30px;
  bottom: -2.5rem;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  color: var(--color-primary);
  font-weight: 600;
  left: 50%;
  padding: 0.5rem 1.5rem;
  position: absolute;
  transform: translateX(-50%);
  transition: var(--transition-medium) all;
  white-space: nowrap;
  z-index: 100;
}

.sizeMedium .bottom {
  bottom: -2.5rem;
}

.sizeSmall .bottom {
  bottom: -2rem;
}

.card:hover .bottom {
  box-shadow: 0 6px 12px rgb(0 0 0 / 15%);
  transform: translateX(-50%) translateY(-3px);
}

.leftToRight {
  text-align: left;
}

.rightToLeft {
  text-align: right;
}
