.sessionsList {
  background-image: var(--background-pattern);
}

.h2 {
  margin: 3rem 0;
  text-align: center;
}

.p {
  margin: 0 2rem 1.5rem;
  max-width: 800px;
  text-align: left;
}

.sessions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 0 2rem;
  list-style: none;
}

@media (width >= 768px) {
  .sessions {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 1200px) {
  .sessions {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.sessionCard:nth-of-type(2n) {
  background: var(--color-backdrop);
}

.sessionCard:nth-of-type(2n + 1) {
  background: var(--color-primary);
}

@media (width >= 1200px) {
  .sessions {
    padding: 0;
  }
}
