html,
body {
  font-family: Europa, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  --box-shadow-dark: 0 0 10px rgb(0 0 0 / 80%);
  --color-backdrop: #22366e;
  --color-backdrop-emphasized: #262262;
  --color-backdrop-quaternary: #d72027;
  --color-backdrop-secondary: #2b9d57;
  --color-backdrop-subtle: #5f80bf;
  --color-backdrop-tertiary: #2f2d2e;
  --color-bright: white;
  --color-dark: #2f2d2e;
  --color-emphasis: #d72027;
  --color-primary: #2e4b9f;
  --color-faint: #909ab6;
  --color-subtle: #e8e8e8;
  --transition-medium: 350ms;
  --width-body: 75rem;
}

@font-face {
  font-family: Europa;
  font-style: normal;
  src: url("/fonts/Europa-Regular.woff") format("woff");
}

@font-face {
  font-family: Europa;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Europa-Bold.woff") format("woff");
}

@font-face {
  font-family: Europa;
  font-style: normal;
  font-weight: lighter;
  src: url("/fonts/Europa-Light.woff") format("woff");
}

/* Normalization */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  padding: 0;
}
