html,
body {
  font-family: Europa, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  --color-backdrop: #22366e;
  --color-emphasis: #d72027;
  --color-primary: #2e4b9f;
  --color-subtle: #e8e8e8;
  --transition-medium: 350ms;
}

@font-face {
  font-family: Europa;
  font-style: normal;
  src: url("/fonts/Europa-Regular.woff") format("woff");
}

@font-face {
  font-family: Europa;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Europa-Bold.woff") format("woff");
}

@font-face {
  font-family: Europa;
  font-style: normal;
  font-weight: lighter;
  src: url("/fonts/Europa-Light.woff") format("woff");
}
