html,
body {
  font-family: Europa, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: Europa;
  font-style: normal;
  src: url("/fonts/Europa-Regular.woff") format("woff");
}

@font-face {
  font-family: Europa;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Europa-Bold.woff") format("woff");
}

@font-face {
  font-family: Europa;
  font-style: normal;
  font-weight: lighter;
  src: url("/fonts/Europa-Light.woff") format("woff");
}
