.secondaryBanner {
  background-color: var(--color-primary);
  background-image: var(--background-outline);
  background-position: center center;
  background-size: contain;
  position: relative;
  text-align: center;

  --color-text: var(--color-bright);
}

.contents {
  padding: 3rem 2rem 4rem;
  position: relative;
}
