.expectation {
  background-image: var(--background-outline-alt);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem 1rem 1rem;
  position: relative;
}

.contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: var(--width-body);
}

.heading {
  font-size: var(--font-size-large);
  margin: 1rem 0 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary);
}

.h2 {
  margin: 1rem 0 0.5rem;
  text-transform: uppercase;
}

.p {
  font-weight: 900;
  margin: 0.5rem 0;
}

.photos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto 0.5rem;
  user-select: none;
  width: 100%;
  max-width: 1000px;
}

.photoArea {
  border-radius: 8px;
  height: 10rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo {
  object-fit: cover;
  transition: transform 0.3s ease;
}

.photoArea:hover .photo {
  transform: scale(1.05);
}

@media (width >= 700px) {
  .heading {
    font-size: var(--font-size-extra-large);
  }

  .photos {
    flex-direction: row;
  }

  .photoArea {
    height: 12rem;
  }
}
