.ticketsOffer {
  gap: 2rem;
  padding: 1rem 1rem 0;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

@media (width >= 1200px) {
  .ticketsOffer {
    padding: 0;
  }
}
