/* stylelint-disable */
.titoWidget {
  height: 100%;
}

.titoWidget :global(.tito-widget) * {
  color: var(--color-primary);
}

.titoWidget :global(.tito-widget .tito-submit) {
  background: var(--color-primary);
}
