.header {
  border-bottom: 1px solid var(--color-subtle);
}

.contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: var(--width-body);
  padding: 0.5rem 1rem;
}

.logo {
  height: 3.25rem;
  width: 12.1875rem;
}

.links {
  display: flex;
  flex-flow: row wrap;
  gap: 0 1rem;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 900px) {
  .contents,
  .links {
    flex-direction: row;
  }

  .links {
    justify-content: flex-end;
    margin-top: 0;
    width: 100%;
  }
}
