.header {
  align-items: center;
  border-bottom: 1px solid var(--color-subtle);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  height: 3.25rem;
  width: 12.1875rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 500px) {
  .links {
    flex-direction: row;
  }
}

@media (min-width: 700px) {
  .header {
    flex-direction: row;
  }

  .links {
    margin-top: 0;
  }
}
