.event {
  background-image: var(--background-outline);
  background-repeat: repeat;
  background-size: contain;
}

.h2 {
  margin: 4rem;
  text-align: center;
}

.topColumns {
  padding: 0 1rem;
}

.eventsList {
  list-style-type: none;
  padding: 0;
}

.otherEventLink {
  color: var(--color-primary);
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
}

.videosList {
  padding: 0 1rem 5rem;
}

.videoCard {
  margin-bottom: 3rem;
}

@media (min-width: 700px) {
  .topColumns {
    gap: 5rem;
  }

  .videosList {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .videoCard {
    height: 15rem;
    width: calc(50% - 1.5rem);
  }
}
