.h2 {
  text-align: center;
}

@media (min-width: 700px) {
  .topColumns {
    gap: 5rem;
  }
}

.eventsList {
  list-style-type: none;
  padding: 0;
}

.otherEventLink {
  color: var(--color-primary);
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
}

.videosList {
  padding-bottom: 5rem;
  padding-left: 0;
}

.videoCard {
  margin-bottom: 3rem;
}

@media (min-width: 700px) {
  .videosList {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .videoCard {
    height: 15rem;
    width: calc(50% - 1.5rem);
  }
}
