.background {
  background-image: var(--background-outline);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.textContents {
  font-weight: bold;
  padding: 0.5rem 1rem 2.5rem;
  position: relative;
}

.title {
  font-size: var(--font-size-large);
  text-transform: uppercase;
}

.date,
.catchphrase {
  font-size: var(--font-size-small);
  text-shadow: 0 0 5px var(--color-primary), 0 0 5px var(--color-primary);
}

.date {
  color: var(--color-faint);
  font-weight: 700;
  margin: 1rem 0;
  text-transform: uppercase;
}

.thumbnail {
  display: none;
}

.leftToRight .thumbnail {
  right: 0;
}

.rightToLeft .thumbnail {
  left: 0;
}

.eventCard:hover .booker {
  background-color: var(--color-faint);
}

@media (min-width: 700px) {
  .title {
    font-size: var(--font-size-extra-large);
  }

  .date,
  .catchphrase {
    font-size: var(--font-size-medium);
  }

  .catchphrase {
    padding-bottom: 1rem;
  }

  .leftToRight .textContents {
    margin-right: 33%;
    padding: 2rem 0.5rem 3rem 3rem;
    text-align: right;
  }

  .rightToLeft .textContents {
    margin-left: 33%;
    padding: 2rem 3rem 3rem 0.5rem;
    text-align: left;
  }

  .thumbnail {
    background-image: var(--background-thumbnail);
    background-position: center;
    background-size: cover;
    bottom: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 30%;
  }

  .leftToRight .booker {
    left: 1rem;
    right: initial;
  }

  .rightToLeft .booker {
    left: initial;
    right: 1rem;
  }
}
