.eventCard {
  display: block;
  position: relative;
  text-decoration: none;
  transition: var(--transition-medium) transform;
}

.cardContents {
  box-shadow: var(--box-shadow-dark);
  overflow: hidden;
  position: relative;
}

.eventCard:hover {
  transform: scale(1.02);
}

.background {
  background-position: left;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.textContents {
  padding: 0.5rem 1rem 2.5rem;
  position: relative;
}

.title,
.description {
  color: var(--color-bright);
}

.title {
  font-size: var(--font-size-medium);
  font-weight: bold;
  text-transform: uppercase;
}

.date,
.description {
  font-size: var(--font-size-small);
}

.date {
  color: var(--color-faint);
  font-weight: 700;
  margin: 1rem 0;
  text-transform: uppercase;
}

.thumbnail {
  display: none;
}

.leftToRight .thumbnail {
  right: 0;
}

.rightToLeft .thumbnail {
  left: 0;
}

.booker {
  bottom: -1.75rem;
  color: var(--color-primary);
  position: absolute;
}

.leftToRight .textContents {
  text-align: right;
}

.leftToRight .booker {
  right: 0.5rem;
}

.rightToLeft .booker {
  left: 0.5rem;
}

.eventCard:hover .booker {
  background-color: var(--color-faint);
}

@media (min-width: 700px) {
  .title {
    font-size: var(--font-size-large);
  }

  .date,
  .description {
    font-size: var(--font-size-medium);
  }

  .leftToRight .textContents {
    margin-right: 33%;
    padding: 2rem 0.5rem 3rem 3rem;
  }

  .rightToLeft .textContents {
    margin-left: 33%;
    padding: 2rem 3rem 3rem 0.5rem;
  }

  .thumbnail {
    background-position: center;
    background-size: cover;
    bottom: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 30%;
  }

  .leftToRight .booker {
    left: 1rem;
    right: initial;
  }

  .rightToLeft .booker {
    left: initial;
    right: 1rem;
  }
}
