.bannerImageArea {
  height: 10rem;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.bannerImage {
  color: white;
  height: 100%;
  object-fit: contain;
  user-select: none;
  width: 100%;
}

.h2 {
  margin-bottom: 2rem;
}

.p {
  margin-bottom: 2rem;
}
