.bannerImageArea {
  height: 10rem;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.bannerImage {
  color: white;
  height: 100%;
  object-fit: contain;
  user-select: none;
  width: 100%;
}

.eventInfo {
  padding: 5rem 2rem;
}
