.bannerImageArea {
  height: 10rem;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.bannerImage {
  color: white;
  height: 100%;
  object-fit: contain;
  user-select: none;
  width: 100%;
}

.h2 {
  margin: 1rem 0 2rem;
}

.p {
  margin-bottom: 2rem;
}

.whatToExpect {
  gap: 1rem;
  padding: 0;
}

@media (width >= 768px) {
  .whatToExpect {
    gap: 2rem;
    padding: 1rem 1rem 0;
  }
}

.videoTicketsSection {
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
}

@media (width < 980px) {
  .videoTicketsSection {
    max-width: 100vw;
  }
}

@media (width >= 768px) {
  .videoTicketsSection {
    padding: 0 2rem;
  }
}

@media (width >= 1200px) {
  .videoTicketsSection {
    max-width: 1200px;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.videoWrapper {
  border-radius: 8px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 20%);
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.videoIframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (width >= 1200px) {
  .whatToExpect {
    padding: 0;
  }
}
