.textLink {
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  color: var(--color-primary);
  font-size: var(--font-size-medium);
  font-weight: bold;
  text-decoration: none;
  transition: var(--transition-medium) border-color;
}

.textLink:hover {
  border-bottom: 6px solid var(--color-emphasis);
}
