.charlotte {
  --color-primary: #2b9d57;
  --color-faint: #abd9ba;
}

.london {
  --color-primary: #22366e;
  --color-faint: #ebf0f7;
}

.newquay {
  --color-primary: #22366e;
  --color-faint: #e4e4ec;
}

.newyork {
  --color-primary: #2f2d2e;
  --color-faint: #cbcbcb;
}

.online {
  --color-primary: #2f2d2e;
  --color-faint: #9cb0d9;
}

.phoenix {
  --color-primary: #262262;
  --color-faint: #e4e4ec;
}

.telaviv {
  --color-primary: #22366e;
  --color-faint: #9cb0d9;
}

.vienna {
  --color-primary: #d72027;
  --color-faint: #fadddf;
}
