.splitPromo {
  background-color: var(--color-primary);
  background-image: var(--background-pattern);
  background-position: center center;
  background-size: cover;
  overflow: hidden;

  --color-text: var(--color-bright);
}

.imageArea {
  box-shadow: var(--box-shadow-banner);
  display: none;
  position: relative;
}

.image {
  object-fit: cover;
  user-select: none;
}

.description {
  color: var(--color-bright);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-medium);
  font-weight: bold;
  gap: 2rem;
  padding: 2rem;
}

@media (width >= 900px) {
  .imageArea {
    display: initial;
  }

  .description {
    font-size: var(--font-size-large);
    padding: 3rem 30% 3rem 3rem;
  }
}
