.splitPromo {
  background-color: var(--color-primary);
  background-image: url("/patterns/split-promo-pattern.png");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.imageArea {
  box-shadow: var(--box-shadow-banner);
  display: none;
  position: relative;
}

.image {
  object-fit: cover;
  user-select: none;
}

.description {
  color: var(--color-bright);
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 2rem;
  padding: 2rem;
}

@media (min-width: 900px) {
  .imageArea {
    display: initial;
  }

  .description {
    padding: 5rem 30% 5rem 5rem;
  }
}
