.banner {
  font-weight: bold;
  letter-spacing: 0.05em;
  overflow: hidden;
  position: relative;
  text-shadow: var(--box-shadow-dark);

  --color-text: var(--color-bright);
}

.backgroundImage {
  background-blend-mode: multiply;
  background-color: var(--color-primary-light);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  inset: -5px;
  position: absolute;
}

.backgroundImage:not(.vibrant) {
  filter: contrast(0.5) saturate(2);
}

.contents {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  max-width: var(--width-body);
  margin: 0 auto;
  width: 100%;
}

.sizeMedium {
  padding: 1.5rem 1rem;
}

.sizeLarge {
  padding: 7rem 2rem;
}

@media (width >= 700px) {
  .contents {
    padding: 1rem;
  }

  .sizeMedium {
    padding: 3rem 2rem;
  }
}

@media (width >= 900px) {
  .contents {
    padding: 2rem;
  }
}
