.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  letter-spacing: 0.05em;
  position: relative;
  --color-text: var(--color-bright);
}

.contents {
  padding: 2rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.colorOverlay {
  background: var(--color-backdrop-subtle);
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}

.sizeMedium {
  padding: 3rem 2rem;
}

.sizeLarge {
  padding: 7rem 2rem;
}
